body{ background: #f5f5f5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin:0
    padding-top: 40px;
}

.container { width: 450px;
            text-align: center;
            background: white
            padding: 20px
            border-radius: 10px
            box-shadow: 0px  2px 10px rgba(0,0,0,0.2);
}

input { 
        width: 90%;
        padding: 12px;
        margin-bottom: 15px
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;       
}

button{ 
        padding: 12px 25px
        background: black;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s;
}

button:hover{ 
            background: #333
}

#finalMeme{
            width: 100%
            border-radius:10px
}